<section class="ba-section ba-about " id="about">
    <div class="row">
        <div class="column small-12 large-4 ba-about-bg ba-subtitle flex-container text-center flex-dir-column align-center align-middle">
                <img src="{{root}}/assets/img/Icon-AboutUs.png" alt="works" class="ba-icon">
                <h2 class="ba-textsub-main text-uppercase">About Us</h2>
        </div>
        <div class="column small-12 large-8 ba-about-text ">
                <p>Nullam quis risus eget urna <b>mollis ornare</b> vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                <b>Morbi leo risus,</b> porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>

                <button class="ba-button">Learn More</button>
        </div>
    </div>

</section>