<nav>
    <ul class="menu vertical">
        <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="index.html">Home</a></li>
        <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="#about">About</a></li>
        <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="#service">Services</a></li>
                    <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="#works">Works</a></li>
                    <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="#team">Contact</a></li>
    </ul>
</nav>