<section class="ba-section ba-works  flex-container text-center flex-dir-column align-center align-middle" id="works">
    <div class="row column">
        <div class="ba-subtitle">
            <img src="{{root}}/assets/img/Icon-Works@2x.png" alt="works" class="ba-icon">
            <h2 class="ba-textsub-main text-uppercase">Recent Works</h2>
        </div>

        <div class="ba-slider">

            <img src="assets/img/Campofrío_Home_a1_1800.jpg" alt="">
            <img src="assets/img/Campofrío_Home_a1_1800.jpg" alt="">
            <img src="assets/img/Campofrío_Home_a1_1800.jpg" alt="">
            <img src="assets/img/Campofrío_Home_a1_1800.jpg" alt="">
            <img src="assets/img/Campofrío_Home_a1_1800.jpg" alt="">


        </div>

        <button class="ba-button">View Gallery</button>
    </div>


</section>