<section class="ba-section ba-works" id="works">
    <div class="container text-center">
        <img src="assets/img/works-ico.png" alt="works" class="ba-works__logo">
        <h2 class="ba-section__title ba-section__title--light text-center text-uppercase ba-services__title">Recent works</h2>
        <div class="ba-works-slider">
            <button class="ba-button ba-slider--prev"><img src="assets/img/arrow-left-light.png" alt="control"></button>
            <div class="ba-works-slide text-center"><img src="assets/img/1_slick.jpg" alt="works"></div>
            <div class="ba-works-slide text-center"><img src="assets/img/2_slick.jpg" alt="works"></div>
            <div class="ba-works-slide text-center"><img src="assets/img/3_slick.jpg" alt="works"></div>
            <div class="ba-works-slide text-center"><img src="assets/img/2_slick.jpg.jpg" alt="works"></div>
            <button class="ba-button ba-slider--next">
                <!-- <img src="assets/img/arrow-right-light.png" alt="control"> -->
                NEXT
            </button>
        </div>
    </div>
</section>