<section class="ba-team flex-container text-center flex-dir-column align-center align-middle">


    <div class="ba-subtitle">
        <img src="{{root}}/assets/img/Icon-Team@2x.png" alt="team" class="ba-icon">
        <h2 class="ba-textsub-main ba-textsub-team text-uppercase">MEET OUR TEAM</h2>
       </div>


       <div class="ba-slider-team">
            

            

            <div class="ba-team-card">
                    <img class="ba-face-img" src="assets/img/miguel.jpg" alt="">
                    <div class="ba-team-name">
                        <h4>Miguel Obrien</h4>
                        <p>CEO & Founder</p>
                    </div>
                    <div class="ba-team-social">
                        sdgsahasha
                    </div>
            </div>

            <div class="ba-team-card">
                    <img class="ba-face-img" src="assets/img/ida.jpg" alt="">
                    <div class="ba-team-name">
                        <h4>Ida Morrison</h4>
                        <p>Designer</p>
                    </div>
                    <div class="ba-team-social">
                        sdgsahasha
                    </div>
            </div>

            <div class="ba-team-card">
                    <img class="ba-face-img" src="assets/img/jackie.jpg" alt="">
                    <div class="ba-team-name">
                        <h4>Jackie Carroll</h4>
                        <p>Art Director</p>
                    </div>
                    <div class="ba-team-social">
                        sdgsahasha
                    </div>
            </div>


            
            
            
               
            
        </div>





</section>